# compiled files

src/**/*.mjs -linguist-detectable


# config

*.config.js -linguist-detectable
*.config.json -linguist-detectable
*.config.mjs -linguist-detectable
bsconfig.json -linguist-detectable
package.json -linguist-detectable
package-lock.json -linguist-detectable


# tests

*.spec.js -linguist-detectable